apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  namespace: apps
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: "241661649258.dkr.ecr.eu-west-2.amazonaws.com/k8s-ecr:dfd2ff366617a8f790debb603ec535892d183aef" # turn account id into secret using vault
          ports:
            - name: http
              containerPort: 80
          readinessProbe:
            httpGet: {path: "/", port: http}
            initialDelaySeconds: 90
            periodSeconds: 10
          livenessProbe:
            httpGet: {path: "/", port: http}
            initialDelaySeconds: 90
            periodSeconds: 20
