apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  namespace: apps
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: "241661649258.dkr.ecr.eu-west-2.amazonaws.com/k8s-ecr:430858f8542577b1c91162173f8ea0e595a2beab"
          ports:
            - name: http
              containerPort: 80
          readinessProbe:
            httpGet: {path: "/", port: http}
            initialDelaySeconds: 2
            periodSeconds: 5
          livenessProbe:
            httpGet: {path: "/", port: http}
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 3

