apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  namespace: apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: "241661649258.dkr.ecr.eu-west-2.amazonaws.com/k8s-ecr:c0820b79c22525daa7fc8bba6ecbedfe53bd1300" # turn account id into secret using vault
          ports:
            - name: http
              containerPort: 80
          readinessProbe:
            httpGet: {path: "/", port: http}
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet: {path: "/", port: http}
            initialDelaySeconds: 90
            periodSeconds: 20

