apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  namespace: apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: ""
          ports:
            - name: http
              containerPort: 8080
          readinessProbe:
            httpGet: {path: "/", port: http}
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet: {path: "/", port: http}
            initialDelaySeconds: 10
            periodSeconds: 20
