apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  namespace: apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: "241661649258.dkr.ecr.eu-west-2.amazonaws.com/k8s-ecr:b33279248983d1e7f31424d79ec9251f211b321e"
          ports:
            - name: http
              containerPort: 80
          startupProbe:
            httpGet: {path: /, port: http}
            periodSeconds: 5
            failureThreshold: 30
          readinessProbe:
            httpGet: {path: "/", port: http}
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 3
          livenessProbe:
            httpGet: {path: "/", port: http}
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
