name: Build Docker Image and Deploy to Amazon ECR

# triggered on push to main branch
on:
  push:
    paths:
      - 'app/**'

permissions:
  contents: write  # allow pushing the updated manifest

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    environment: production

    outputs:
      image: ${{ steps.build-image.outputs.image }}

    # TODO: make these values not readable, use secrets
    env:
      AWS_REGION: "eu-west-2"
      ECR_REPOSITORY: "k8s-ecr"

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@0e613a0980cbf65ed5b322eb7a1e075d28913a83
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@62f4f872db3836360b72999f4b87f1ff13310f3a

      - name: Build, tag, and push image to Amazon ECR
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        working-directory: ./app
        run: |
          # Build a docker container and
          # push it to ECR so that it can
          # be deployed to EKS.
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          echo "image=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" >> $GITHUB_OUTPUT



  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install yq
        run: |
          sudo wget -qO /usr/local/bin/yq \
            https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64
          sudo chmod +x /usr/local/bin/yq

      - name: Update deployment.yaml with newly built image
        env:
          NEW_IMAGE: ${{ needs.build.outputs.image }}
        run: |
          yq -i '.spec.template.spec.containers[0].image = env(NEW_IMAGE)' manifest/deployment.yaml

      - name: Commit and push manifest change
        run: |
          git add manifest/deployment.yaml
          git commit -m "Update image to ${{ needs.build.outputs.image }}" || echo "No changes to commit"
          git push
