name: Terraform Plan

on:
  push:
    paths:
      - 'terraform/**'

  
env:
  AWS_REGION: "eu-west-2"

permissions:
  id-token: write
  contents: read

concurrency:
  group: terraform-plan
  cancel-in-progress: true

jobs:

  tflint:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v5
      name: Checkout source code

    - uses: actions/cache@v4
      name: Cache plugin dir
      with:
        path: ~/.tflint.d/plugins
        key: ${{ matrix.os }}-tflint-${{ hashFiles('.tflint.hcl') }}

    - uses: terraform-linters/setup-tflint@v5
      name: Setup TFLint
      with:
        tflint_version: v0.52.0
    - name: Show version
      run: tflint --version

    - name: Init TFLint
      run: tflint --init
      env:
        # https://github.com/terraform-linters/tflint/blob/master/docs/user-guide/plugins.md#avoiding-rate-limiting
        GITHUB_TOKEN: ${{ github.token }}

    - name: Run TFLint
      run: tflint -f compact


  # checkov:
  #   runs-on: ubuntu-latest
    
  #   steps:
  #     - uses: actions/checkout@v5
  #     - name: Set up Python 3.8
  #       uses: actions/setup-python@v4
  #       with:
  #         python-version: 3.8
  #     - name: Test with Checkov
  #       id: checkov
  #       uses: bridgecrewio/checkov-action@master
  #       with:
  #         directory: ./terraform
  #         config_file: ./terraform/.checkov.yaml

  #         framework: terraform 
      
  terraformplan:
    name: Terraform Plan
    needs: [tflint] # add checkov later  
    runs-on: ubuntu-latest

    steps:
      # Pulls latest version of code from GitHub repository
      - name: Checkout code
        uses: actions/checkout@v5

      # Installs Terraform on the GitHub runner
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.12.0

      # Configures AWS access by using OIDC
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@9dfa9aa010133d4807cd0272ad05d3fdb5b01340
        with:
          role-to-assume: arn:aws:iam::241661649258:role/Github-actions-k8s
          role-session-name: tfplan
          aws-region: ${{ env.AWS_REGION }}

          # aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          # aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          # aws-region: "eu-west-2"

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init -input=false

      - name: Terraform Fmt & Validate
        working-directory: ./terraform
        run: |
          terraform fmt -check -recursive
          terraform validate

      - name: Terraform Plan (save to file)
        working-directory: ./terraform
        env:
          TF_VAR_hosted_zone_arn: ${{ secrets.HOSTED_ZONE_ARN }}
          TF_VAR_hosted_zone_id:     ${{ secrets.HOSTED_ZONE_ID }}
        run: terraform plan -no-color -input=false -out=tfplan 

      - name: Show Plan (for PR/job summary)
        working-directory: ./terraform
        run: terraform show -no-color tfplan | tee plan.txt

      - name: Upload plan artifact
        uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: terraform/tfplan

      - name: Upload human-readable plan
        uses: actions/upload-artifact@v4
        with:
          name: plan.txt
          path: terraform/plan.txt