name: Terraform Apply

# dev views terraform plan workflow then manually triggers this workflow
on:
  workflow_run:
    workflows: ["Terraform Plan"]
    branches: [main]
    types:  
      - completed
      workflow_dispatch:
      branches:
        - main

jobs:
  terraform:
    name: Terraform Apply
    runs-on: ubuntu-latest

    steps:
      # Pulls latest version of code from GitHub repository
      - name: Checkout code
        uses: actions/checkout@v5

      # Installs Terraform on the GitHub runner
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.12.2

      # Configures AWS access by using the credentials stored in GitHub Secrets
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@0e613a0980cbf65ed5b322eb7a1e075d28913a83
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: "eu-west-2"

      # Initialise terraform
      - name: Initialise Terraform
        working-directory: ./terraform
        run: terraform init

      # Execute terraform apply and create resources
      - name: Terraform Apply
        working-directory: ./terraform
        run: terraform apply -auto-approve